header {
    width: 100%;
    height: 120px;
    background-color: rgb(221, 70, 141);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: rgb(110, 4, 57);
    font-size: 28px;
    font-family:'Lucida Sans', 'Lucida Sans Unicode', sans-serif;
}

#projtitulo{
    width: 80%;
}
.intro-atividades{

}
body{
    background-color: rgb(241, 167, 223);
}
<footer>{
    background-color: rgba(0, 0, 0, 0.652);
    text-align: center;
    color: #fff;
    padding: 4px;
}