
header {
    width: 100%;
    height: 80px;
    background-color: rgb(250, 85, 222);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#menu{
    width: 30px;
    height: 25px;
    margin: 25px 0 15px 15px;
    cursor: pointer;
}
.bar{
    height: 4px;
    width: 8px;
    background-color: rgba(228, 9, 9, 0.781);
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}
#bar1{
    transform: translateY(-4px);

}
#bar3{
    transform: translateY(4px);

}
.nav li a{
color: rgb(228, 206, 206);
text-decoration: none;
}
.nav li a:hover{
    font-weight: bold;
}
.nav li{
    list-style: none;
padding: 10px 0;
}
.nav {
    padding: 0;
    margin: 0 20px;
    transition: 0.3s ease;
    display: none;
}

.menu-bg, #menu-bar{
    top: 0;
    left: 0;
    position: absolute;

}

.menu-bg{
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #5f0633, #f00078);
    border-radius: 70%;
    transition: 0.3s ease;
}
#menu-bar{
    z-index: 2;
}

.change-bg{
    width: 550px;
    height: 540px;
    transform: translate(-60%,-30%);
}
.change .bar{
    background-color: white;
}

.change #bar1{
    transform:translateY(4px) rotateZ(-45deg)
}

.change #bar3{
    transform: translateY(-6px) rotate(45deg);

}
.change #bar2{
    opacity: 0;
}

.change{
   display:block
}

h1 {
    color: rgb(161, 2, 42);
    font-size: 28px;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', sans-serif;
}

.titulo{
    width: 80%;
}

.materias{
    display: flex;
}

.materias li{
    margin: 50px;
    justify-content: flex-end;
    list-style: none;

}

.materias li a{
    text-decoration: none;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Unicode', sans-serif; 
    color: rgb(161, 2, 42);
}