body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #2c2c6c;
    color: white;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu .material-icons {
    cursor: pointer;
    font-size: 30px;
    margin-right: 10px;
}

.disciplinas {
    list-style: none;
    padding: 0;
    display: flex;
}

.disciplinas li {
    margin: 0 10px;
}

.disciplinas a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: none;
}
